.div1 {
  display: flex;
  justify-content: center;
}

.div2 {
  margin-top: 10px;
}

p {
  font-size: x-large;
  margin: 2px 4px;
  width: 90px;
  text-align: center;
}

input {
  font-size: x-large;
  text-align: center;
  margin: 2px 4px;
  width: 80px;
}
